.card {
  width: 50%;
  left: 25%;
  margin-top: 50px;
  box-shadow: 4px 3px 8px 1px gray;
  background-color: lightgoldenrodyellow;
}

.title {
  color: black;
  padding-top: 10px;
  font-size: large;
}

.content {
  color: black;
}
